@import "Components/CalendarWrapper/styles";
@import "Components/WeatherPane/styles";
@import "Components/Modals/styles";

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  max-width: 750px;
  margin: 0 auto ;
  padding: 50px 3%;
  background: #254a75;
  position: relative;

  .inner-wrapper{
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 5px;
  }

}